/*la primera parte delcogido de css nos permite quitar los margenes que el vageador por defecto pone, el boxsizing no permite que los bordes se anchen*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: Arial, Helvetica, sans-serif; /*define la letra general*/
    background: #008eca52; /*pone el color del fondo*/
    color: #030303; /* color del texto*/
    line-height: 1.6; /*separa las lineas para que se vean mejor*/
    text-align: center;

}

.container { 
    width: 80%; /*usa el 90% de la pantalla */
    max-width: 1000px; /*evita que en pantallas grandes se estire demasiado*/
    margin: 0 auto; /*centra el bloque horizontamente*/
    padding: 20xp 0; /*da espacion arriba y abajo de lo que este entre div*/
}

.header {
    display: flex ;
    background: linear-gradient(135deg, #e8e6d0 23%, #d9f1b8, #cece7087 55%);
    border-bottom: 1px solid #000000;
    padding: 15px 0;
}

.header__content {
    display: flex; /*pone los hijos en filas automaticas*/
    align-items: center; /*centra verticalmente*/
    justify-content: space-between; /*pone uno a la izquierda y otro a la derecha*/
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav{
    list-style: none; /*quita los punticos de lista*/
    display: flex;/*poner el menu o los links en fila*/
    gap: 15px; /*separa los links*/
}

.nav__link {
    text-decoration: none; /*quita el subrayado*/
    color: #190f0f;
    font-weight: 700; /*tamaño de las palabras*/
}
.nav__link:hover {
    color: #2f08dd; /*le cambia el color a las opciones del menu cuando pase el cursor por encima de las opciones del menu*/
}

.about, /*la coma significa, aplica lo que hare a las 2 clases dentro de main*/
.contact {
    background: #0741c8a9; /*agrega color al cuadro donde esta mi informcion o todo lo que ponga en class=about*/
    margin-top: 30px; /*separa en partes lo que esta dentro del main*/
    padding: 20px; /*engrandece el recuadro donde esta la informacion de class=about*/
    border-radius: 10px; /*pone bordes a los recuadros donde esta la informacion de main*/

}

.form{
    display: flex; /*engrandese el recuadro donde se escribe informacion de contato*/
    flex-direction: column; /*le da estetica a la barra de texto alargandola*/
    gap: 5px; /*separa las barras de texto y enviar*/
}

input{
    padding: 5px; /*anchura del recuadro de texto*/ 
    border: 2px solid #111010; /*grosor del borde y el color del borde*/
    border-radius: 8px; /*radio de las exquinas del recuadro de texto*/
}

.btn {
    background: #101010; /*color del relleno del boton enviar*/
    color: rgb(208, 204, 204); /*color de las letras de la plabra enviar*/
    border: none; /*quita los bordes del boton*/
    border-radius: 8px;  /*radio*/
    cursor: pointer; /*cambia la forma del cursor cuando nos paramos encima del boton*/
}


/*GALERIA*/ 

.galeria {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.mascotas h2{
 text-align: center;
}

.mascotas {
    font-size: 18px;   /* el tamaño que quieras */
    background: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
    text-align: justify;
}

.mascotas .contenido_del_texto p{
text-align: justify;
margin-left: 5%;
margin-right: 5%;    

}

.mascotas img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

