/*la primera parte delcogido de css nos permite quitar los margenes que el vageador por defecto pone, el boxsizing no permite que los bordes se anchen*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: Arial, Helvetica, sans-serif; /*define la letra general*/
    background-image: url("img/fonndo.jpg"); 
    background-size: cover; /*que cubra toda la pantalla*/
    background-position: center; /*posicion centrada*/
    background-attachment: fixed;  /* efecto “pegado” al hacer scroll (opcional) */
    
    line-height: 1.6; /*separa las lineas para que se vean mejor*/
    text-align: center; 


}

.container { 
    width: 80%; /*usa el 90% de la pantalla */
    max-width: 1000px; /*evita que en pantallas grandes se estire demasiado*/
    margin: 0 auto; /*centra el bloque horizontamente*/
    padding: 20xp 0; /*da espacion arriba y abajo de lo que este entre div*/
    color: #fcf8f8; /* color del texto*/
    
}

.header {
    display: flex ;
    background-image: url("img/pexels-tahmetler-29386479.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fcf8f8; /* color del texto*/
    border-bottom: 1px solid #f3ebeb;
    padding: 15px 0;
}

.header__content {
    display: flex; /*pone los hijos en filas automaticas*/
    align-items: center; /*centra verticalmente*/
    justify-content: space-between; /*pone uno a la izquierda y otro a la derecha*/
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav{
    list-style: none; /*quita los punticos de lista*/
    display: flex;/*poner el menu o los links en fila*/
    gap: 15px; /*separa los links*/
}

.nav__link {
    text-decoration: none; /*quita el subrayado*/
    color: #f5f2f2;
    font-weight: 700; /*tamaño de las palabras*/
}
.nav__link:hover {
    color: #2f08dd; /*le cambia el color a las opciones del menu cuando pase el cursor por encima de las opciones del menu*/
}

.about, /*la coma significa, aplica lo que hare a las 2 clases dentro de main*/
.contact {
    background: #0741c8a9; /*agrega color al cuadro donde esta mi informcion o todo lo que ponga en class=about*/
    margin-top: 30px; /*separa en partes lo que esta dentro del main*/
    padding: 20px; /*engrandece el recuadro donde esta la informacion de class=about*/
    border-radius: 10px; /*pone bordes a los recuadros donde esta la informacion de main*/

}

.form{
    display: flex; /*engrandese el recuadro donde se escribe informacion de contato*/
    flex-direction: column; /*le da estetica a la barra de texto alargandola*/
    gap: 5px; /*separa las barras de texto y enviar*/
}

input{
    padding: 5px; /*anchura del recuadro de texto*/ 
    border: 2px solid #111010; /*grosor del borde y el color del borde*/
    border-radius: 8px; /*radio de las exquinas del recuadro de texto*/
}

.btn {
    background: #101010; /*color del relleno del boton enviar*/
    color: rgb(208, 204, 204); /*color de las letras de la plabra enviar*/
    border: none; /*quita los bordes del boton*/
    border-radius: 8px;  /*radio*/
    cursor: pointer; /*cambia la forma del cursor cuando nos paramos encima del boton*/
}


/*GALERIA*/  /*aqui vamos a organizar la parte del espacio las tarjetas*/

.titulo {
display: flex;
justify-content: center;
width: 100%;
align-items: center;
background: linear-gradient(135deg, #e8d0e7 23%, #ae1bb6, #511289 90%);
background-image: url("img/pexels-tahmetler-29386479.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
color: #fcf8f8; /* color del texto*/
}


.galeria {
    width: 100%; /*ocupara el 100% del espacio que se le otorga de espacio*/
    display: flex; /*“organiza a tus hijos (tarjetas) en fila, una al lado de la otra.” */ 
    flex-wrap: wrap; /*si las tarjetas en fila no caben en la pnatalla enonces permiteles bajar*/
    flex-direction: row; 
    gap: 20px;  /*espacio entre tarjetas*/
    background: transparent; /*pone el color del fondo que yo quiera*/
    justify-content: center;/*esto controla la posicion de las tarjetas en la fila */
    align-items: center;
    padding: 20px; /*margenes internos del contenedor*/
    

}

/*ahora vamos a organziar la parte del contenido de las tarjetas*/

.mascotas h2 {   /*vamos de lo principal hasta lo ultimo*/
 text-align: center; /*con el text... lo que se hace es decirle, oye el texto que esta en esta division exclusivamente centralo*/
 font-size: 30px; /*con este comando cambio el tamaño de letra*/ 
}

/*figura, contornos y espcios de la tarjeta*/
.mascotas {
    font-size: 20px;   /* el tamaño que quieras de letra del texto */
    background: white; /*color del fondo de la parte del texto*/
    width: 300px; /*ancho de la tarjeta*/
    height: 550px; /*altura de las tarjetas*/
    border-radius: 10px; /*radio de las orillas de la tarjeta*/
    overflow: hidden; /*sirve para esconder cosas que se salen de la tarjeta si fuese el caso*/ 
    box-shadow:0 2px 8px rgba(0,0,0,0.08); /*le da una pequeña sombrita a la tarjeta*/ 
    transition: transform 0.2s ease; /*es como un control de velocidades de transisiones*/
    text-align: justify; /*esto es para que el texto quede cuadrado*/
}

/*ahora aqui lo que se debe hacer es ser mas especificos para que lo que se debe cambiar */
.mascotas .contenido_del_texto p{
text-align: justify; /*texto centrado*/
margin-left: 5%; /*margenes entre los espacios de la tarjeta*/ 
margin-right: 5%;    

}

/*aqui podemos modificar las fotos*/
.mascotas img {
    width: 100%; /*espacio que cocupa la imagen dentro de la tarjeta*/
    height: 300px; /*añade altura de la foto*/
    object-fit: cover; 
}

